@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-green: #8fcfc4;
    --clear-green: #DBE3FF;
    --dark-grey: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#nav-bar-home {
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

#get-started {
    background-color: var(--dark-green);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#custom-textfield .MuiInputBase-input {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px; /* Ensures the rounded corners are preserved */
  }
  
  #custom-textfield .MuiInputLabel-root {
    font-family: 'Poppins', sans-serif;
  }